.wrapper {
    height: 100%;
}

.header {
    padding: 0;
    background-color: var(--ant-layout-body-bg);
    border-bottom: 1px solid var(--ant-color-border);
}

.sider {
    background-color: var(--ant-layout-body-bg) !important;
    border-left: 1px solid var(--ant-color-border);
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
}
